services:
  - type: web
    name: kupiyproday
    env: node
    region: oregon
    plan: free
    branch: main
    rootDir: backend
    buildCommand: npm install --production
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: PORT
        value: 10000
